@font-face {
    font-family: "Utonium";
    src: url("font/utonium/Utonium.otf");
}

@font-face {
    font-family: "Utonium";
    src: url("font/utonium/Utonium\ Italic.otf");
    font-style: italic;
}

@font-face {
    font-family: "Utonium";
    src: url("font/utonium/Utonium\ Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Utonium";
    src: url("font/utonium/Utonium\ Bold\ Italic.otf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Futura";
    src: url("font/futura/futur.ttf");
}

@font-face {
    font-family: "Futura";
    src: url("font/futura/Futura\ Bold\ font.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Futura";
    src: url("font/futura/Futura\ Bold\ Italic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Futura";
    src: url("font/futura/Futura\ Light\ font.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "Futura";
    src: url("font/futura/Futura\ Light\ Italic\ font.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'VT323';
    src: url('font/VT323/VT323-Regular.ttf');
}

:root {
    --magenta: #E52F84;
    --cyan: #18FEEA;
    --yellow: #FFF550;
    --green: #1FFC99;
    --blue: #026DF9;
    --neogreen: #F0F857;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 400 16px Roboto;
}

html {
    overflow-x: hidden;
}

input:focus {
    outline: none;
    background: transparent;
}

#login {
    height: 100vh;
    background-color: var(--neogreen);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login>* {
    margin: 5px;
}

#login>span {
    font: 800 32px 'VT323';
}

#login>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100vw;
}

#login>form>input[type=text] {
    padding: 10px;
    width: 20%;
    min-width: 200px;
    text-align: center;
    background: none;
    border: none;
    border-bottom: 3px solid black;
    font: 800 32px Futura;
}

#login>form>input[type=submit] {
    background-color: black;
    font: 800 16px Roboto;
    min-width: 100px;
    color: white;
    width: 10%;
    margin-bottom: 50px;
}

#creds {
    position: absolute;
    bottom: 10px;
    font: 800 12px Futura !important;
    text-align: center;
}

#promo {
    display: flex;
    z-index: 99;
}

.navbar {
    background-color: #000;
    color: #fff;
    padding: 20px 5vw;
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 99;
}

.navbar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: var(--magenta);
    bottom: 0;
    left: 0;
}

.navbar a,
#links2>a {
    color: #fff;
    font: 100 18px Futura;
    text-decoration: none;

    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎮</text></svg>") 16 0, auto;
    /*!emojicursor.app*/
}

#links,
#icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#links>a:first-child {
    margin: 0 20px 0 0;
}

#links>a:not(:first-child) {
    margin: 0 20px 0 20px;
}

#icons>a {
    margin: 0 5px 0 15px;
}

#cart {
    position: relative;
}

#count {
    /* circle background */
    background: var(--magenta);
    border-radius: 50%;
    /* circle size */
    width: 16px;
    height: 16px;
    /* circle position */
    position: absolute;
    bottom: 0px;
    right: -8px;
    /* circle text */
    text-align: center;
    line-height: 20px;
    font: 100 12px Futura;
    color: #fff;
    text-decoration: none;
}

#nametag {
    color: white;
    font: 100 18px Futura;
    text-decoration: none;
    padding: 10px;
}

#name {
    font: italic 30px "Utonium";
    -webkit-text-stroke: 1px var(--magenta);
}

#slider-menu {
    position: absolute;
    right: 0;
    top: 60px;
    width: fit-content;
    padding: 30px;
    max-height: 0;
    background-color: rgba(0, 0, 0);
    z-index: 1;
    display: none;
}

#slider-menu::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: var(--magenta);
    bottom: 0;
    left: 0;
}

#icons:hover #slider-menu {
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: max-height 0.5s ease-in-out;
}

.shop {
    width: 100vw;
}

#hero {
    margin: 10vh;
    text-align: center;
    font: 800 72px 'VT323';
    color: black;
}

.subtypes {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    column-gap: 5%;
    margin: auto;
}

.descrip {
    border: 1px solid gray;
    border-radius: 20px 20px 0 0;
    padding: 30px;
    background-color: black;
    color: white;
}

.details {
    border: 1px solid gray;
    padding: 30px;
}

.buytype {
    border: 1px solid gray;
    border-radius: 0 0 20px 20px;
    padding: 30px;
}

input[type=button],
input[type=submit] {
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤑</text></svg>") 16 0, auto;
    /*!emojicursor.app*/
}

li {
    margin-bottom: 10px;
    color: black;
}

h1 {
    font: italic 50px "Utonium";
    color: white;
}

#solo>div>h1 {
    -webkit-text-stroke: 2px var(--magenta);
    text-shadow: 0 0 10px var(--magenta);
}

#solo>form>input[type=submit] {
    width: 100%;
    background-color: var(--magenta);
}

#duo>div>h1 {
    -webkit-text-stroke: 2px var(--cyan);
    text-shadow: 0 0 10px var(--cyan);
}

#duo>form>input[type=submit] {
    width: 100%;
    background-color: var(--cyan);
}

#squad>div>h1 {
    -webkit-text-stroke: 2px var(--green);
    text-shadow: 0 0 10px var(--green);
}

#squad>form>input[type=submit] {
    width: 100%;
    background-color: var(--green);
}

h2 {
    font: 800 16px Roboto;
}

#feature {
    height: 50vh;
    width: 100%;
    margin: 10vh 0 10vh 0;
}

#fdescrip>input[type=submit] {
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 10%;
    background-color: var(--yellow);
}

#fpic {
    background-image: url("media/featured.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    height: 100%;
    width: 100%;
}

#fdescrip {
    position: relative;
    left: 30px;
    bottom: calc(10vh + 10px);
    width: 95%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#fdescrip>span {
    color: white;
    font: 800 72px 'VT323';
}

.merches {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    column-gap: 10px;
    justify-content: space-evenly;
    margin: auto;
    width: 90%;
}

.merch {
    margin: 0;
    padding: 0;
}

#memname {
    background-color: #000;
    padding: 10px;
    text-align: center;
    font: 800 16px Roboto;
    color: white;
}

#mempic {
    width: 100%;
}

.methods {
    width: 50%;
    margin: 10vh 25% 10vh 25%;
}

#methodhead,
#itemhead {
    border: 1px solid gray;
    border-radius: 20px 20px 0 0;
    padding: 30px;
    background-color: black;
    color: white;
}

.method,
.item {
    border: 1px solid gray;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.method>span>h1 {
    font: 800 16px Roboto;
    color: black;
}

.method>input[type=submit] {
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 10%;
    background-color: black;
    color: white;
}

.items {
    width: 80%;
    margin: 10vh 10% 10vh 10%;
}

.itemprev {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.itemprev>img {
    height: 100px;
    margin-right: 20px;
}

.inc,
.dec {
    border: 1px solid gray;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    padding: 10px;
    display: inline-block;
    color: black;
    font-size: 16px;
    text-align: center;
}

.dec {
    background-color: var(--magenta);
}

.inc {
    background-color: var(--green);
}

.qtycont>input[type=text] {
    border: 1px solid gray;
    height: 40px;
    width: 60px;
    padding: 10px;
    display: inline-block;
    color: black;
    font-size: 16px;
    text-align: center;
}

#methodfoot,
#itemfoot {
    border: 1px solid gray;
    border-radius: 0 0 20px 20px;
    padding: 10px;
    background-color: var(--cyan);
}

#proceed {
    background-color: var(--neogreen);
    font: 800 16px Roboto;
    color: black;
    width: 30%;
    margin: 0 35% 10vh 35%;
}

#footer {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    background-color: black;
    color: white;
    align-items: center;
    justify-items: center;
    padding: 7vh 0 7vh 0;
}

#links2,
#shopinfo {
    display: flex;
    flex-direction: column;
}

#links2>* {
    margin: 10px;
}

#empty {
    height: 50vh;
}