@import url(//db.onlinewebfonts.com/c/6dbf0126ffd861046c0120a7bbf66356?family=Utonium);

@font-face {
    font-family: "Utonium";
    src: url("//db.onlinewebfonts.com/t/6dbf0126ffd861046c0120a7bbf66356.eot");
    src: url("//db.onlinewebfonts.com/t/6dbf0126ffd861046c0120a7bbf66356.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6dbf0126ffd861046c0120a7bbf66356.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6dbf0126ffd861046c0120a7bbf66356.woff") format("woff"), url("//db.onlinewebfonts.com/t/6dbf0126ffd861046c0120a7bbf66356.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6dbf0126ffd861046c0120a7bbf66356.svg#Utonium") format("svg");
}

:root {
    --magenta: #E52F84;
    --cyan: #18FEEA;
    --yellow: #FFF550;
    --green: #1FFC99;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#promo {
    display: flex;
}

.navbar {
    background-color: #000;
    color: #fff;
    padding: 20px 5vw;
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
}

.navbar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: var(--magenta);
    bottom: 0;
    left: 0;
}

.navbar a {
    color: #fff;
    font: 100 18px Futura;
    text-decoration: none;
}

#links, #icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#links > a:first-child {
    margin: 0 20px 0 0;
}

#links > a:not(:first-child) {
    margin: 0 20px 0 20px;
}

#icons > a {
    margin: 0 5px 0 15px;
}

#nametag {
    color: white;
    font: 100 18px Futura;
    text-decoration: none;
    padding: 10px;
}

#name {
    font: italic 30px "Utonium";
    -webkit-text-stroke: 1px var(--magenta);
}

.shop {
    height: 200vh;
}