.type {
    width: 370px;
    margin: auto;
}

@media screen and (max-width: 1900px) {
    .subtypes {
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
    }
}

@media screen and (max-width: 1400px) {
    .subtypes {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        row-gap: 5%;
    }

    .type:last-child {
        grid-column: span 2;
    }
}

@media screen and (max-width: 960px) {
    .body {
        height: fit-content;
    }

    .subtypes {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        row-gap: 5%;
    }

    .type:last-child {
        grid-column: span 1;
        margin-bottom: 10vh;
    }
}

.merch {
    min-width: 190px;
}

@media screen and (max-width: 1500px) {
    .merches {
        grid-auto-flow: unset;
        grid-template-columns: repeat(12, 1fr);
        width: 90%;
        row-gap: 10px;
    }

    .merch {
        max-width: 200px;
        grid-column: span 4;
        margin: auto;
    }

    .merch:nth-child(n+4) {
        grid-column: span 3;
    }

}

@media screen and (max-width: 900px) {
    .merches {
        grid-auto-flow: unset;
        grid-template-columns: repeat(2, 1fr);
    }

    .merch {
        max-width: 200px;
        grid-column: span 1;
    }

    .merch:nth-child(n+4) {
        grid-column: unset;
    }

    .merch:last-child {
        grid-column: span 2;
        margin: auto;
    }

    .qtycont {
        min-width: 90px;
    }

    .qtycont>input[type=number] {
        display: none;
    }

    #links>a:nth-child(n+2) {
        display: none;
    }
}