:root {
    --magenta: #E52F84;
    --cyan: #18FEEA;
    --yellow: #FFF550;
    --green: #1FFC99;
    --blue: #026DF9;
    --neogreen: #F0F857;
}

.merch-active {
    outline: 5px solid var(--magenta);
}